<div class="header">
  <div class="text">
    <h1>Singing Scientific</h1>
    <h2>Science Through The Arts</h2>
  </div>
  <div class="topics">
    <div class="topic">
      <%= image_tag("topic.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic1.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic2.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic3.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic4.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic5.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic6.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic1.jpg") %>
      <p>Topic</p>
    </div>
    <div class="topic1">
      <%= image_tag("topic7.jpg") %>
      <p>Topic</p>
    </div>
  </div> 
</div>

<div class="blogs_wrapper">
  <%= render 'form' %>
</div> 