  <div class="main_header">
    <div class="text">
        <h1>Singing Scientific</h1>
        <h2 class="subtitle">Science Through The Arts</h2>
    </div>
    <div class="topics">
        <div class="topic1">
          <%= image_tag("topic.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic1.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic2.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic3.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic4.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic5.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic6.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic1.jpg") %>
          <p>Topic</p>
        </div>
        <div class="topic1">
          <%= image_tag("topic7.jpg") %>
          <p>Topic</p>
        </div>
    </div> 
  </div>



<div class="landing_body">
  <div class="feed">
    <div class="card">
      <p class="card_category">Physics</p>
      <p class="card_title">Spiderweb reveal the physics behind cell structures.</p>
    </div>
    <div class="card">
      <p class="card_category">Astronomy</p>
      <p class="card_title">2021: What Astronomical and Space Events Await Us This Year?</p>
    </div>
    <div class="card">
      <p class="card_category">Biology</p>
      <p class="card_title">Darwin's Revolutionary Theory of Evolution.</p>
    </div>
    <div class="card">
      <p class="card_category">Sociology</p>
      <p class="card_title">Sociology survey shows impact of COVID-19 on students.</p>
    </div>
    <div class="card">
      <p class="card_category">Astronomy</p>
      <p class="card_title">Astronomers Discover First-Ever Cloudless Hot Jupiter.</p>
    </div>
    <div class="card">
      <p class="card_category">Psychology</p>
      <p class="card_title">New psychological model predicts who panic-buys during times of crisis.</p>
    </div>
    <div class="card">
      <p class="card_category">Zoology</p>
      <p class="card_title">New species of chameleon is discovered with an intresting trait.</p>
    </div>
    <div class="card">
      <p class="card_category">Zoology</p>
      <p class="card_title">A staring zoologist and the art of being invisible.</p>
    </div>
    <div class="card">
      <p class="card_category">Physics</p>
      <p class="card_title">Physics Study Shows A Life Saving Reason To Take The Stairs.</p>
    </div>
    <div class="card">
      <p class="card_category">Sociology</p>
      <p class="card_title">Protesters feel compelled to push boundaries, sociology professor says.</p>
    </div>
    <div class="card">
      <p class="card_category">Astronomy</p>
      <p class="card_title">This incredible ring turns into an ancient astronomy tool.</p>
    </div>
  </div>
</div>