<div class="registration">

    <div class="registration_header">
      <div class="text">
        <h1>Singing Scientific</h1>
        <h2 class="subtitle">Science Through The Arts</h2>
      </div>
    </div>

    <div class="registration_body">
      <%= image_tag 'registry.jpg', class: 'left_registry' %>
      <%= image_tag 'registry1.jpg', class: 'right_registry' %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="email_field/">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'email_field' %>
        </div>

        <div class="password_field/">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'password_field' %>
        </div>

        <hr class="login_line">

        <div class="actions">
          <%= f.submit "Login", class: 'lsubmit' %>
        </div>

        <%= link_to 'Don’t have an account,  Sign Up!', new_user_registration_path, class: 'login_link' %>
      <% end %>
    </div>

  </div>
</div>
