<!DOCTYPE html>
<html>
  <head>
    <title>Prototype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if !user_signed_in? %>
        <p class="sign_in"><%= link_to "User Login", new_user_session_path %></p>
      <% end %>
  <% if user_signed_in? %>
          <div class="buttons">
            <button class="button"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
          </div>
        <% end %>

    <%= yield %>
  </body>
</html>
